* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-style: normal;
}
html {
  font-size: 24px;
}
body {
  position: relative;
  height: 100%;
  width: 40%;
  max-width: 640px;
  background-color: rgba(209, 209, 209, 0.952);
}
body li {
  list-style-type: none;
}
